:root {
    --app-c-background: rgba(70, 70, 70, 0.26);
    --app-c-primary: #42b983;
    --app-c-secondary: #35495e;
}

* {
    box-sizing: border-box;
    scrollbar-color: var(--app-c-secondary) #111111;
    scrollbar-width: thin;
}

/* webkit scrollbar */
::-webkit-scrollbar {
    width: .5em;
    background-color: #111111;
    border: 1px solid var(--app-c-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--app-c-secondary);
    border-radius: 0.25em;
}


html {
    background-color: rgb(25, 25, 25);
    overflow-y: hidden;
}

body {
    max-width: 960px;
    margin: 0 auto;
    box-shadow: 0 1px 100px #131313;
    min-height: 100vh;
    background-color: #131313;
    color: #fff;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

a {
    text-decoration: underline;
}

.router-link-active {
    color: var(--app-c-primary);
}

button {
    background-color: var(--app-c-primary);
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: all 0.125s ease-in-out;
}

button.secondary {
    background-color: var(--app-c-secondary);
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    background-color: var(--app-c-secondary);
    color: rgb(202, 202, 202);
    scale: 0.95;
}

button:disabled {
    background-color: var(--app-c-background);
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: var(--app-c-background);
}

button:disabled:active {
    background-color: var(--app-c-background);
}

input {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: 1px solid var(--app-c-background);
    background-color: var(--app-c-secondary);
    color: #fff;
    transition: all 0.125s ease-in-out;
}

input:focus {
    outline: none;
    border-color: var(--app-c-primary);
    box-shadow: 0 0 0 2px var(--app-c-primary);
}

input:disabled {
    background-color: var(--app-c-background);
    cursor: not-allowed;
}

.div {
    border-bottom: 1px solid var(--app-c-secondary);
    margin: .5rem 0;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1em;
    background-color: var(--app-c-secondary);
    border-radius: 0.25em;
    outline: none;
    margin: 0.5em 0;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb,
input[type='range']::-webkit-slider-thumb {
    /* -webkit-appearance: none;
    width: 1.25em;
    height: 1.25em;
    background-color: var(--app-c-primary);
    border-radius: 50%;
    cursor: pointer; */
    display: none;
    opacity: 0;
}

input[type='range']::-moz-range-progress,
input[type='range']::-webkit-slider-runnable-track {
    background-color: var(--app-c-primary);
    z-index: -10;
    height: 1em;
    border-radius: .25em;
    /* shadow big right very soft */
    box-shadow: .5em 0 .5em rgba(66, 185, 131, 0.5);
}